<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS-312-MiniProject-1</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="title">Sign Up</h1>
    <% if (locals.error === 1){ %>
        <form class="postForm" action="/sign_up" method="POST">
            <!-- the hidden value is to be able to pass the index of the post back to the .js file-->
            <input type="text" name="username" placeholder="Please enter a new username that one was taken" required>
            <input type="text" name="password" placeholder="Password" required>
            <input class="submit" type="submit" value="Sign Up">
        </form>
    <%} else {%>
    <form class="postForm" action="/sign_up" method="POST">
        <!-- the hidden value is to be able to pass the index of the post back to the .js file-->
        <input type="text" name="username" placeholder="Name" required>
        <input type="text" name="password" placeholder="Password" required>
        <input class="submit" type="submit" value="Sign Up">
    </form>
    <%}%>
</body>