body {
    display: block;
    margin: 8px;
}

.postForm {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    padding: 8px;
    border-color:black ;
    border-style: solid;
    margin: .5rem;
}

input {
    margin-bottom: 1%;
}

.submit{
    height: 50px;
    font-size: larger;
    background-color: green;
}

.deleteButton{
    width: 5rem;
    height: 5%;
    background-color: rgb(221, 147, 147);
}

.editButton{
    width: 5rem;
    height: 5%;
    background-color: yellow;
}

.blogPost{
    border-style: solid;
    border-color: black;
    padding: 8px;
    margin: .5rem;
    padding-top: 3px;
}

.title{
    padding-left: 8px;
}